# Automate Boring Excel Tasks with Pandas

Tutorial_01: Combining Multiples Excel Files

In [32]:
file1 = "https://github.com/datagy/mediumdata/raw/master/january.xlsx"
file2 = "https://github.com/datagy/mediumdata/raw/master/february.xlsx"
file3 = "https://github.com/datagy/mediumdata/raw/master/march.xlsx"

In [12]:
import pandas as pd

In [16]:
#Section 1

files = [file1, file2, file3]
combined = pd.DataFrame()

In [23]:
#Section 2

for file in files:
    df = pd.read_excel(file, skiprows = 3)
    combined = combined.append(df, ignore_index = True)

In [24]:
#Section 3

combined.to_excel("combined.xlsx")

In [28]:
combined = pd.read_excel("combined.xlsx")
combined.head()

      Location  Oranges  Apples  Bananas  Blueberries  Total
0      Toronto     7651    4422     8580         3679  24332
1  Los Angeles      273    2998     9890         7293  20454
2      Atlanta     3758    6752     4599         4149  19258
3     New York     4019    8796     8486         9188  30489
4      Toronto     4180    1622     5471         1201  12474

Tutorial_2: Getting Values from Various Workbooks

In [33]:
import openpyxl

In [90]:
#Section 1

files = ["january.xlsx", "february.xlsx", "march.xlsx"]
values = []

In [91]:
#Section 2

for file in files:
    wb = openpyxl.load_workbook(file)
    sheet = wb["Sheet1"]
    value = sheet["F5"].value
    values.append(value)

In [92]:
print(values)

[24332, 12474, 25103]

In [ ]:
# Reference 

#https://towardsdatascience.com/automate-these-3-boring-excel-tasks-with-python-666b4ded101b